body{
    display: inline-block;
    background: linear-gradient(white 50% , rgb(85, 85, 231) 50%)
}
input,strong{
    border-radius: 10px;
    padding: 5px;
    width: 300px; 
    font-size: 20px;
    position: relative;
    bottom: 250px;
    box-shadow: black 10px;
}
div.lin{
     font-size: arial 15px;
}
header{
  
     text-align: center;
     font: normal 15pt italic;
     background-color: rgb(50, 50, 143);
     border-radius: 200px;
     color:white;
}
 footer{
     text-align: center;
     margin-bottom: auto;
 }

 input.sipe{
     color:white;
    background-color: green;
    display: block;
    margin-top: 10px;
 }
img{
    width: auto;
    margin-left: 300px;
    height: auto;
}
img , div{
    display: inline-block;
}
h2{
    font-size: 50pt normal arial;
    margin-left: 620px;
    color: white;
}
#entrar{
    background-color: blue;
    color: white;
    border-radius: 10px ;
}
